$turquoiseGreen: #BDD9BF;
$charcoal: #2E4052;
$maximumYellowRed: #FFC857;
$white: #FFFFFF;
$darkPurple: #412234;
$lightGrey: #D2D7DF;

.barreRecherche{
    display: table-cell;
    width: 100vw;
    background-color: $charcoal;
    height: 8vh;
    color: $turquoiseGreen;
    vertical-align: middle;
    padding-left: 10vw;
}

html,body {
    margin: 0;
    font-family: "Verdana";
    background-color: $charcoal;
}

.searchBook{
    background-color: $charcoal;
    color: $white;
    border: none;
    font-size: 16px;
}

.gg-search{
    display: inline-block;
    float: right;
    margin-right: 10vw;
    margin-top: 0.1vh;
}

.conteneur{
   
}

.listBook{
    // list-style: none;
    display:grid;
    grid-template-columns: 1;
    // grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 2vh;
    padding-left: 0;
    margin-top: 0;
    font-size: 14px;
    vertical-align: middle;
    margin-bottom: 0;
}

.book1{
    display:grid;
    grid-template-columns: 20vw 1fr;
    grid-template-rows: 1;
    background-color: $lightGrey;
    color: $charcoal;
    padding-top: 3vh;
    padding-bottom: 3vh;
    padding-left: 2vw;
    border-bottom: 1px solid $charcoal;
    // grid-row-start:1;
    // grid-row-end: span 1;
    position: relative;
}

.book2{
    display:grid;
    grid-template-columns: 20vw 1fr;
    background-color: $lightGrey;
    color: $charcoal;
    padding-top: 3vh;
    padding-bottom: 3vh;
    padding-left: 2vw;
    border-bottom: 1px solid $charcoal;
    grid-row-start:2;
    grid-row-end: span 1;
}

.bookCover{
    // grid-column-start:1;
    // grid-column-end: 2;
}

.bookTitle{
    display: table-cell;
    // grid-column-start:2;
    // grid-column-end: 3;
    vertical-align: middle;
    margin: 0 !important;
}

.title{
    font-size: 16px;
    grid-column-start: 2;
    grid-column-end: 3;
}

.pagination{
    display:grid;
    grid-template-rows: 1fr;
}

.paginationLink{
    text-decoration: none;

}

.lien{
    display: inline !important;
}

.listeNav {
    padding:0;
    margin-top:0;
    margin-bottom: 2vh;
    list-style-type:none;
    text-align: center;
    vertical-align: middle;
    }
   .listeNav li {
    margin-left:2px;
    margin-right: 2px;
    float:left; /*pour IE*/
    width: 30px;
    border: none;
    background-color: $charcoal;
    }
   .listeNav li a {
    display:block;
    float:left;   
    width:20px;
    background-color:$charcoal;
    color:$maximumYellowRed;
    text-decoration:none;
    text-align:center;
    padding:5px;
    // border:2px solid;
    /*pour avoir un effet "outset" avec IE :*/
    // border-color:#DCDCDC #696969 #696969 #DCDCDC;
    }

.conteneurPagination{
    margin: auto;
    text-align: center;
    justify-content: center;
    justify-items: center;
}

.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    position: absolute;
    bottom: 6px;
    right: 16px;
  }
  .rating > span {
    display: inline-block;
    position: relative;
    width: 1.1em;
  }
  .rating > span:hover:before,
  .rating > span:hover ~ span:before,
  .rating > span.active:before,
  .rating > span.active ~ span:before {
     content: "\2605";
     position: absolute;
  }